<VirtualHost *:{{ vhost.listen }}>
    ServerName {{ vhost.server_name }}
    ServerAlias {{ vhost.server_alias }}

    DocumentRoot "{{ httpd.document_root_base_dir }}/{{ vhost.document_root }}"
    <Directory "{{ httpd.document_root_base_dir }}/{{ vhost.document_root }}">
        AllowOverride None
        Order Allow,Deny
        Allow from All

        FallbackResource /index.php
    </Directory>
    <Directory /var/www/nak/public/bundles>
        FallbackResource disabled
    </Directory>
    ErrorLog {{ vhost.error_log }}
    CustomLog "{{ vhost.access_log }}" combined
</VirtualHost>
